#h1{
    background-color: blue;
    text-align: center;
    color: bisque;
    padding: 20px;

}
#h2{
    background-color: rgb(4, 4, 41);
    text-align: center;
    color: bisque;
    padding: 20px;

}